@{
    Layout = null;
}


    <form id="messageus" role="form" class="form-horizontal" style="padding: 5px;">
        <lable style="color:#f44e1b;text-align:center;display:block;font-size:26px;padding-bottom:12px">Contact us</lable>
        <div class="form-group">
            <label class="col-lg-1"><span class="require form-message-nes">*</span></label>
            <div class="col-lg-11" style="padding-left:0">
                <input type="text" class="form-control input-md" name="FirstName" placeholder="@T("common.contactus.firstname")">
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-lg-1"><span class="require form-message-nes">*</span></label>
            <div class="col-lg-11" style="padding-left:0">
                <input type="text" class="form-control input-md" name="LastName" placeholder="@T("common.contactus.lastname")">
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-lg-1"><span class="require form-message-nes">*</span></label>
            <div class="col-lg-11" style="padding-left:0">
                <input type="text" class="form-control input-md" name="CompanyName" placeholder="@T("common.contactus.companyname")">
            </div>
        </div>
        
        
        <div class="form-group">
            <label class="col-lg-1"><span class="require form-message-nes">*</span></label>
            <div class="col-lg-11" style="padding-left:0">
                <input type="text" class="form-control input-md" name="EmailAddress" placeholder="@T("common.contactus.emailaddress")">
            </div>
        </div>
        
        
        <div class="form-group">
            <label class="col-lg-1"><span class="require form-message-nes"></span></label>
            <div class="col-lg-11" style="padding-left:0">
                <input type="text" class="form-control input-md" name="PhoneNumber" placeholder="@T("common.contactus.phonenumber")">
            </div>
        </div>
        
        
        <div class="form-group">
            <label class="col-lg-1"><span class="require form-message-nes" style="padding-top:37px">*</span></label>
            <div class="col-lg-11" style="padding-left:0">
                <textarea class="form-control input-md" name="Comments" rows="5" placeholder="@T("common.contactus.comment")"></textarea>
            </div>
        </div>
        
        <div class="pricing-footer">
            <button type="button" id="messageussubmit" class="btn btn-primary">Submit</button>
        </div>
</form>
        

<script type="text/javascript">
    
    function checkEmpty(formname) {
        var valueinput = $("#messageus [name=" + formname + "]");
        if (valueinput.val().length == 0) {
            valueinput.parent().parent().attr("class", "form-group has-error");
            return false;
        } else {
            valueinput.parent().parent().attr("class", "form-group");
            return true;
        }
    }


    $(function() {
        $("#messageussubmit").click(function() {
            var checknull = checkEmpty('FirstName') && checkEmpty('LastName') && checkEmpty('CompanyName') && checkEmpty('EmailAddress');
            if (checknull) {
                $.post("/Common/MessageUs", $("#messageus").serialize(), function(data) {
                    if (data == 1) {
                        alert('Your request has been submitted successfully!');
                    }
                });
            }
        });
    });
</script>

