@model CamprayPortal.Web.Models.Common.MenuNavigation
@{
    Layout = null;
}

  
@functions {
    private string TopMenu(string controlname)
    {
        return controlname == Model.Controller ? "active" : String.Empty;
    }
}

@helper MenuNavigation(string action, string control, string title)
{
    if (null == Model)
    {
        return;
    }
    if (Model.Action == action && Model.Controller == control)
    {
        <li class="active"><a href="@Url.Action(action, control)">@title</a></li>
    }
    else
    {
        <li><a href="@Url.Action(action, control)">@title</a></li>
    }
}


<!-- BEGIN NAVIGATION -->
<div class="header-navigation pull-right font-transform-inherit">
    <ul>
        <li class="dropdown @TopMenu("AboutUs")">
            <a class="dropdown-toggle disabled" data-toggle="dropdown" data-target="#" href="@Url.Action("HomePage", "AboutUs")">
                @T("common.aboutus")
            </a>
            <ul class="dropdown-menu">
                @MenuNavigation("MessageChairman", "AboutUs", T("common.messagefromchairman").ToString())
                @MenuNavigation("ManagementTeam", "AboutUs", T("common.managementteam").ToString())
                @MenuNavigation("BoardMembers", "AboutUs", T("common.boardmembers").ToString())
                @MenuNavigation("Investors", "AboutUs", T("common.investors").ToString())
                @MenuNavigation("WhyA4Data", "AboutUs", T("common.whya4data").ToString())
                @MenuNavigation("News", "AboutUs", T("common.news").ToString())
                @MenuNavigation("Event", "AboutUs", T("common.event").ToString()) 
                @MenuNavigation("ContractUs", "AboutUs", T("common.contactus").ToString())
                @MenuNavigation("Careers", "AboutUs", T("common.careers").ToString())
            </ul>
        </li>

        <li class="dropdown @TopMenu("Product")">
            <a class="dropdown-toggle disabled" data-toggle="dropdown" data-target="#" href="@Url.Action("HomePage", "Product")">
                @T("common.product")
            </a>

            <ul class="dropdown-menu">
                @MenuNavigation("JetVM", "Product", T("common.a4datajetvm").ToString())
                @MenuNavigation("JetAppliance", "Product", T("common.a4datajetappliance").ToString())
                @MenuNavigation("FeatureBriefs", "Product", T("common.featurebriefs").ToString())
                @*@MenuNavigation("ApplicationNotes", "Product", T("common.applicationnotes").ToString())*@
            </ul>
        </li>



        <li class="dropdown @TopMenu("Solutions")">
            <a class="dropdown-toggle disabled" data-toggle="dropdown" data-target="#" href="@Url.Action("HomePage", "Solutions")">
                @T("common.solutions")
            </a>

            <ul class="dropdown-menu">
                @MenuNavigation("BriefsOverview", "Solutions", T("common.solutionbriefoverview").ToString())
                @MenuNavigation("Benefit", "Solutions", T("common.productbenefit").ToString())
                @MenuNavigation("Benchmark", "Solutions", T("common.benchmark").ToString())
                @MenuNavigation("Applications", "Solutions", T("common.applications").ToString())
                @MenuNavigation("CustomerTestimonials", "Solutions", T("common.customertestimonials").ToString())
                @MenuNavigation("CaseStudies", "Solutions", T("common.casestudies").ToString())
                @*@MenuNavigation("DifferentAarchitecture", "Solutions", T("common.differentaarchitecture").ToString())*@ 
            </ul>
        </li>
        <li class="dropdown @TopMenu("Technology")">
            <a class="dropdown-toggle disabled" data-toggle="dropdown" data-target="#" href="@Url.Action("HomePage", "Technology")">
                @T("common.technology")
            </a>
        </li>
        
        <li class="dropdown @TopMenu("Downloads")">
            <a class="dropdown-toggle disabled" data-toggle="dropdown" data-target="#" href="@Url.Action("HomePage", "Downloads")">
                @T("common.downloads")
            </a>
        </li>
        <li class="dropdown @TopMenu("Partner")">
            <a class="dropdown-toggle disabled" data-toggle="dropdown" data-target="#" href="@Url.Action("HomePage", "Partner")">
                @T("common.Partner")
            </a>
        </li>
        @*<li class="dropdown @TopMenu("Support")">
            <a class="dropdown-toggle disabled" data-toggle="dropdown" data-target="#" href="@Url.Action("HomePage", "Support")">
                @T("common.support")
            </a>

            <ul class="dropdown-menu">
                @MenuNavigation("Benefits", "Support", T("common.benefits").ToString())
                @MenuNavigation("CustomerPortal", "Support", T("common.customerportal").ToString())
                @MenuNavigation("Documentation", "Support", T("common.documentation").ToString())
                @MenuNavigation("SoftwareVersion", "Support", T("common.softwareversion").ToString())
            </ul>
        </li>*@

    </ul>
</div>
<!-- END NAVIGATION -->



