    @{
        Layout = null;
    }

        <div class="col-md-2 col-sm-2">
            <h2>@T("common.aboutus")</h2>
            <ul class="list-unstyled">
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("HomePage", "AboutUs")">@T("common.homePage")</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("MessageChairman", "AboutUs")">@T("common.messagefromchairman")</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("ManagementTeam", "AboutUs")">@T("common.managementteam")</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("BoardMembers", "AboutUs")">@T("common.boardmembers")</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Investors", "AboutUs")">@T("common.investors")</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("WhyA4Data", "AboutUs")">@T("common.whya4data")</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("News", "AboutUs")">@T("common.news")</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Event", "AboutUs")">@T("common.event")</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("ContactUs", "AboutUs")">@T("common.contactus")</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Careers", "AboutUs")">@T("common.careers")</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-2">
            <h2>@T("common.product")</h2>
            <ul class="list-unstyled">
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("HomePage", "Product")">@T("common.homePage")</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("JetVM", "Product")">@T("common.a4datajetvm")</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("JetAppliance", "Product")">@T("common.a4datajetappliance")</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("FeatureBriefs", "Product")">@T("common.featurebriefs")</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-2">
            <h2>@T("common.solutions")</h2>
            <ul class="list-unstyled">
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("HomePage", "Solutions")">@T("common.homePage")</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("BriefsOverview", "Solutions")">@T("common.solutionbriefoverview")</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Benefit", "Solutions")">@T("common.productbenefit")</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Benchmark", "Solutions")">@T("common.benchmark")</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Applications", "Solutions")">@T("common.applications")</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("CustomerTestimonials", "Solutions")">@T("common.customertestimonials")</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("CaseStudies", "Solutions")">@T("common.casestudies")</a></li>
                @*<li><i class="fa fa-angle-right"></i> <a href="@Url.Action("DifferentAarchitecture", "Solutions")">@T("common.differentaarchitecture")</a></li>*@
            </ul>
        </div>
        <div class="col-md-2 col-sm-2">
            <h2>@T("common.technology")</h2>
            <ul class="list-unstyled">
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("HomePage", "Technology")">@T("common.homePage")</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-2">
            <h2>@T("common.downloads")</h2>
            <ul class="list-unstyled">
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("HomePage", "Downloads")">@T("common.homePage")</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-2">
            <h2>@T("common.Partner")</h2>
            <ul class="list-unstyled">
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("HomePage", "Partner")">@T("common.homePage")</a></li>
            </ul>
        </div>
        @*<div class="col-md-2 col-sm-2"> 
            <h2>@T("common.support")</h2>
            <ul class="list-unstyled">
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Benefits", "Support")">@T("common.benefits")</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("CustomerPortal", "Support")">@T("common.customerportal")</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Documentation", "Support")">@T("common.documentation")</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("SoftwareVersion", "Support")">@T("common.softwareversion")</a></li>
            </ul>
        </div>*@