@model CamprayPortal.Plugin.Widgets.NivoSlider.Models.PublicInfoModel
@{
    Layout = "";
}

<link href="/Content/assets/global/plugins/slider-revolution-slider/rs-plugin/css/settings.css" rel="stylesheet">
  <!-- BEGIN RevolutionSlider -->

<script src="/Content/assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.plugins.min.js" type="text/javascript"></script>
<script src="/Content/assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
<script src="/Content/assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
<script src="/Content/assets/frontend/pages/scripts/revo-slider-init.js" type="text/javascript"></script>
<!-- END RevolutionSlider -->
<script type="text/javascript">
    jQuery(document).ready(function() {
        RevosliderInit.initRevoSlider();
        //Layout.initTwitter();
        //Layout.initFixHeaderWithPreHeader(); /* Switch On Header Fixing (only if you have pre-header) */
        //Layout.initNavScrolling();

        $("#revolutionul li").click(function() {
            var link = $(this).attr("data-url");
            window.open(link);
        });

    });

  

</script>


<div class="fullwidthbanner-container revolution-slider">
    <div class="fullwidthabnner">
        <ul id="revolutionul">
            <!-- THE NEW SLIDE -->
            <li style="cursor: pointer" data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="/Content/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg" data-url="@Model.Link1">
                <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                <img src="@Model.Picture1Url" alt="@Model.Text1">
            </li>

            <!-- THE FIRST SLIDE -->
            <li style="cursor: pointer" data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="/Content/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg" data-url="@Model.Link2">
                <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                <img src="@Model.Picture2Url" alt="@Model.Text2">
            </li>

            <!-- THE SECOND SLIDE -->
            <li style="cursor: pointer" data-transition="fade" data-slotamount="7" data-masterspeed="300" data-delay="9400" data-thumb="/Content/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg" data-url="@Model.Link3">
                <img src="@Model.Picture3Url" alt="@Model.Text3">
            </li>

            <!-- THE THIRD SLIDE -->
            <li style="cursor: pointer"  data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="/Content/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg" data-url="@Model.Link4">
                <img src="@Model.Picture4Url" alt="@Model.Text4">
            </li>

            <!-- THE FORTH SLIDE -->
            <li style="cursor: pointer" data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="/Content/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg" data-url="@Model.Link5">
                <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                <img src="@Model.Picture5Url" alt="@Model.Text5">
            </li>
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
</div>


