@model CamprayPortal.Web.Models.Home.HomePageModel
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section PageStyle{
    <!-- Page level plugin styles START -->
    <link href="/Content/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
    <link href="/Content/assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet">
    @*<link href="/Content/assets/global/plugins/slider-revolution-slider/rs-plugin/css/settings.css" rel="stylesheet">*@
    <!-- Page level plugin styles END -->
}  

@section PageScript{
    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="/Content/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->
    <script src="/Content/assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js" type="text/javascript"></script><!-- slider for products -->
    @*<!-- BEGIN RevolutionSlider -->

    <script src="/Content/assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.plugins.min.js" type="text/javascript"></script>
    <script src="/Content/assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
    <script src="/Content/assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
    <script src="/Content/assets/frontend/pages/scripts/revo-slider-init.js" type="text/javascript"></script>
    <!-- END RevolutionSlider -->*@
    <script src="/Content/assets/frontend/layout/scripts/layout.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();
            Layout.initOWL();
            //RevosliderInit.initRevoSlider();
            //Layout.initTwitter();
            //Layout.initFixHeaderWithPreHeader(); /* Switch On Header Fixing (only if you have pre-header) */
            //Layout.initNavScrolling();
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
}

<div class="main">
    <div class="container">
        <!-- BEGIN Content BOX -->
        <div class="row service-box margin-bottom-40">
            <div class="col-lg-9 col-md-9 col-sm-9">
                
                <!-- BEGIN SLIDER -->
                <div class="row">
                    <div class="page-slider margin-bottom-40 margin-top-20">
                        @Html.Widget("home_page_top")
                    </div>  
                </div>
                <!-- END SLIDER -->
             
                  
                
                <!-- BEGIN Advance -->
                <div class="row">
                   @Html.Raw(Model.TopicModel.Body)
                </div>
                <div class="row">
                    <p class="pull-right"><a class="more" href="@Url.Action("WhyA4Data","AboutUs")">@T("common.readmore")</a></p>
                </div>
                    <!--  BEGIN Advance -->
                </div>

            

            <div class="col-lg-3 col-md-3 col-sm-3">
                
                <!-- BEGIN News/Event short msg -->
                <div class="blog-talks margin-top-20">
                    <div class="tab-style-1">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1">@T("common.news")</a></li>
                            <li><a data-toggle="tab" href="#tab-2">@T("common.event")</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane row-fluid fade in active" >
                                @foreach (var newitem in Model.NewsItemModels)
                                {
                                    <div class="row" style="margin:0 2px">
                                        <p class="margin-bottom-10">
                                            <a  style="color: #656565" href="@Url.Action("NewsDetail", "AboutUs", new { id = newitem.Id })">@newitem.Title</a>
                                        </p>
                                        <p>@newitem.CreatedOn.ToString("yyyy-MM-dd")</p>
                                    </div>
                                }
                                <div class="row" style="margin:0 1px">
                                    <p class="pull-right"><a class="more" href="@Url.Action("News","AboutUs")">@T("common.readmore")</a></p>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane fade">
                                @foreach (var newitem in Model.EventItemModels)
                                {
                                    <div class="row" style="margin:0 2px">
                                        <p class="margin-bottom-10">
                                            <a style="color: #656565" href="@Url.Action("EventDetail", "AboutUs", new { id = newitem.Id })">@newitem.Title</a>
                                        </p>
                                        <p>@newitem.CreatedOn.ToString("yyyy-MM-dd")</p>
                                    </div>
                                } 
                                <div class="row" style="margin:0 1px">
                                    <p class="pull-right"><a class="more" href="@Url.Action("Event","AboutUs")">@T("common.readmore")</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END News/Event short msg -->

            </div>
            

        </div>
        <!-- BEGIN Content BOX -->
    </div>
</div>