@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (IsSectionDefined("PageStyle"))
{
    @section PageStyle{
        @RenderSection("PageStyle")
    }
}


@if (IsSectionDefined("PageScript"))
{
    @section PageScript{
        @RenderSection("PageScript")
    }
}


<!-- Head END -->
<!-- Body BEGIN -->
<body class="corporate">
    <!-- BEGIN STYLE CUSTOMIZER -->
    <div class="color-panel hidden-sm">
        <div class="color-mode-icons icon-color"></div>
        <div class="color-mode-icons icon-color-close"></div>
        <div class="color-mode">
            <p>THEME COLOR</p>
            <ul class="inline">
                <li class="color-red current color-default" data-style="red"></li>
                <li class="color-blue" data-style="blue"></li>
                <li class="color-green" data-style="green"></li>
                <li class="color-orange" data-style="orange"></li>
                <li class="color-gray" data-style="gray"></li>
                <li class="color-turquoise" data-style="turquoise"></li>
            </ul>
        </div>
    </div>
    <!-- END BEGIN STYLE CUSTOMIZER -->

    <!-- BEGIN HEADER -->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <a class="site-logo" href="/"><img src="/Content/assets/frontend/layout/img/logos/4adata.png" alt="Index"></a>
                    <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
                </div>
                
                
                <div class="col-lg-4">
                    <ul class="social-icons social-icons-color pull-right" style="padding: 10px 0 0 0;">
                        <li><a class="facebook" data-original-title="Facebook" href="#"></a></li>
                        <li><a class="twitter" data-original-title="Twitter" href="#"></a></li>
                        <li><a class="googleplus" data-original-title="Goole Plus" href="#"></a></li>
                        <li><a class="linkedin" data-original-title="Linkedin" href="#"></a></li>
                    </ul>
                </div>
                

                <div class="col-lg-2">
                    <ul class="list-unstyled list-inline pull-left" style="padding: 10px 0 0 0;">
                        <li>
                            @Html.Action("LanguageSelector", "Common")
                        </li>
                    </ul>
                    <ul class="list-unstyled list-inline pull-right" style="padding: 15px 0 0 0;">
                        @if (IsSectionDefined("LeftLink"))
                        {
                            @RenderSection("LeftLink")
                        }
                        else
                        {
                            <li><a href="@Url.Action("CustomerPortal", "Support")">Log In</a></li>
                        }
                    </ul> 
                </div>

                </div>

            <div class="row">
                <div class="search-box pull-left" style="width: 300px;padding: 19px 12px 20px;"  >
                    <form action="#">
                        <div class="input-group">
                            <input type="text" placeholder="Search" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </span>
                        </div>
                    </form>
                </div>
             
                <!-- BEGIN NAVIGATION -->
                @Html.Action("Navigation", "Common")
                <!-- END NAVIGATION -->
            </div>
            </div>
            
        </div>
    <!-- Header END -->
 
    @RenderBody()
    
    
    
    <!-- BEGIN PRE-FOOTER -->
    <div class="pre-footer">
        <div class="container">
            <div class="row margin-bottom-20">
             @Html.Action("SitMap", "Common")
            </div>
        </div>
    </div>
    <!-- END PRE-FOOTER -->

    

    <!-- BEGIN FOOTER -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- BEGIN COPYRIGHT -->
                <div class="col-md-6 col-sm-6 padding-top-10">
                    2014 © A4 Data. <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                </div>
                <!-- END COPYRIGHT -->
                <!-- BEGIN PAYMENTS -->
                <div class="col-md-6 col-sm-6">
                    <ul class="social-footer list-unstyled list-inline pull-right">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-dropbox"></i></a></li>
                    </ul>
                </div>
                <!-- END PAYMENTS -->
            </div>
        </div>
    </div>
    <!-- END FOOTER -->

   
</body>
<!-- END BODY -->